<!--
<div class="chartStat">
    <div class="Chart" > 
        <div >
          <div style="display: flex;">
            <div style="width: 600px;">
              <canvas id="myChart1" >  
              </canvas>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="Chart" > 
        <div>
          <div style="display: flex;">
            <div style="width: 500px;">
              <canvas id="myChart2" >  
              </canvas>
            </div>
          </div>
        </div>
      </div>
      
</div>

-->

<div class="col-xl-9 col-lg-9 col-md-12" style="width: 100%;">
    <div class="dashboard-body">
        
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="veshm-dash-wrapper widget-1">
                    <div class="veshm-dash-icon">
                        <div class="vsm-icon-lio bg-light-success text-success"><i class="fa fa-user-tie"></i></div>
                    </div>
                    <div class="veshm-dash-block">
                        <div class="veshm-dash-block_content"><h4>{{CountUsers}}</h4><h6>Total Users</h6></div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="veshm-dash-wrapper widget-2">
                    <div class="veshm-dash-icon">
                        <div class="vsm-icon-lio bg-light-danger text-danger"><i class="fa-brands fa-gg-circle"></i></div>
                    </div>
                    <div class="veshm-dash-block">
                        <div class="veshm-dash-block_content"><h4>{{countPostPending}}</h4><h6>Total Posts Pending</h6></div>
                    </div>
                </div>	
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="veshm-dash-wrapper widget-3">
                    <div class="veshm-dash-icon">
                        <div class="vsm-icon-lio bg-light-warning text-warning"><i class="fa-solid fa-chart-line"></i></div>
                    </div>
                    <div class="veshm-dash-block">
                        <div class="veshm-dash-block_content"><h4>{{countPostAnnoncePending}}<span class="label font--medium label-success me-2"><i class="fa-solid fa-arrow-trend-up"></i></span></h4><h6>Total REAL ESTATE LISTING PENDING</h6></div>
                    </div>
                </div>	
            </div>

        </div>
        <!--  row -->
        
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Advertisement with location</h4>
                    </div>
                    <div class="card-body">
                 
                        <div class="Chart" > 
                            <div >
                              <div style="margin-left:15%">
                                <div style="width: 600px;">
                                  <canvas id="myChart1" >  
                                  </canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>New Clients</h6>
                    </div>
                    <div class="ground-client-list">
                        <div class="ground-client-single-list" *ngFor="let item of getItemsForCurrentPage() ">
                            <div class="ground-client-first">
                                <div class="ground-client-thumb"><img src="{{item.picture}}" class="img-fluid circle" alt=""></div>
                                <div class="ground-client-caption">
                                    <h5>{{item.name}}</h5>
                                    <span class="text-mid">{{item.phoneNumber}}</span>
                                </div>
                            </div>
                            <div class="ground-client-last">
                                <div class="ground-btn">
                                    <a href="JavaScript:Void(0);" class="btns bg-light-success text-success me-2"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="JavaScript:Void(0);" class="btns bg-light-info text-info"><i class="fa-solid fa-phone"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <nav aria-label="Page navigation example">
                              <ul class="pagination">
                                <li *ngFor="let page of totalPages" class="page-item" [class.active]="currentPage === page">
                                  <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                          
                    </div>
                </div>

            </div>
        </div>
        <!-- row -->
        
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">User with Location</h4>
                    </div>
                    <div class="Chart" > 
                        <div>
                          <div >
                            <div style="width: 500px;margin-left:25%">
                              <canvas id="myChart2" >  
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Notifications</h6>
                    </div>
                    <div class="ground-list ground-list-hove" *ngFor="let item of getItemsForCurrentPageRealEstate() ">
                        <div class="ground ground-single-list">
                            <a href="JavaScript:Void(0);">
                                <div class="btn-circle-40 text-warning bg-light-warning"><i class="fas fa-home"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a [routerLink]="['annonce/listAnnonces/detail/',item.idRealEstateListing]">Your Real estate listing <strong>{{item.title}}</strong> has been {{item.realEstateStatus}}!.</a></h6>
                                <span class="small">{{ item.creationDate | date:'yyyy-MM-dd' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <nav aria-label="Page navigation example">
                              <ul class="pagination">
                                <li *ngFor="let page of totalPagesRealEstate" class="page-item" [class.active]="currentPage === page">
                                  <a class="page-link" (click)="changePageRealEstate(page)">{{ page }}</a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                          
                    </div>
                </div>
         
            </div>
            
        </div>
        <!-- row -->
        
    </div>
</div>