<div class="chartStat">
    <div class="Chart" > 
        <div >
          <div style="display: flex;">
            <div style="width: 600px;">
              <canvas id="myChart1" >  
              </canvas>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="Chart" > 
        <div>
          <div style="display: flex;">
            <div style="width: 500px;">
              <canvas id="myChart2" >  
              </canvas>
            </div>
          </div>
        </div>
      </div>
      
</div>

