<!--
<div class="chartStat">
    <div class="Chart" > 
        <div >
          <div style="display: flex;">
            <div style="width: 600px;">
              <canvas id="myChart1" >  
              </canvas>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="Chart" > 
        <div>
          <div style="display: flex;">
            <div style="width: 500px;">
              <canvas id="myChart2" >  
              </canvas>
            </div>
          </div>
        </div>
      </div>
      
</div>

-->

<div class="col-xl-9 col-lg-9 col-md-12" style="width: 100%;">
    <div class="dashboard-body">
        
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="veshm-dash-wrapper widget-1">
                    <div class="veshm-dash-icon">
                        <div class="vsm-icon-lio bg-light-success text-success"><i class="fa-solid fa-sack-dollar"></i></div>
                    </div>
                    <div class="veshm-dash-block">
                        <div class="veshm-dash-block_content"><h4>$872M<span class="label font--medium label-purple me-2"><i class="fa-solid fa-arrow-trend-down"></i>07%</span></h4><h6>Total Income</h6></div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="veshm-dash-wrapper widget-2">
                    <div class="veshm-dash-icon">
                        <div class="vsm-icon-lio bg-light-danger text-danger"><i class="fa-brands fa-gg-circle"></i></div>
                    </div>
                    <div class="veshm-dash-block">
                        <div class="veshm-dash-block_content"><h4>2415</h4><h6>Total Property</h6></div>
                    </div>
                </div>	
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="veshm-dash-wrapper widget-3">
                    <div class="veshm-dash-icon">
                        <div class="vsm-icon-lio bg-light-warning text-warning"><i class="fa-solid fa-chart-line"></i></div>
                    </div>
                    <div class="veshm-dash-block">
                        <div class="veshm-dash-block_content"><h4>$.68M<span class="label font--medium label-success me-2"><i class="fa-solid fa-arrow-trend-up"></i>12%</span></h4><h6>Total Revenue</h6></div>
                    </div>
                </div>	
            </div>

        </div>
        <!--  row -->
        
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Advertisement with location</h4>
                    </div>
                    <div class="card-body">
                 
                        <div class="Chart" > 
                            <div >
                              <div style="margin-left:15%">
                                <div style="width: 600px;">
                                  <canvas id="myChart1" >  
                                  </canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>New Clients</h6>
                    </div>
                    <div class="ground-client-list">
                        <div class="ground-client-single-list">
                            <div class="ground-client-first">
                                <div class="ground-client-thumb"><img src="assets/img/team-1.jpg" class="img-fluid circle" alt=""></div>
                                <div class="ground-client-caption">
                                    <h5>Adam Leif Floyer</h5>
                                    <span class="text-mid">Art Designer</span>
                                </div>
                            </div>
                            <div class="ground-client-last">
                                <div class="ground-btn">
                                    <a href="JavaScript:Void(0);" class="btns bg-light-success text-success me-2"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="JavaScript:Void(0);" class="btns bg-light-info text-info"><i class="fa-solid fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ground-client-single-list">
                            <div class="ground-client-first">
                                <div class="ground-client-thumb"><img src="assets/img/team-2.jpg" class="img-fluid circle" alt=""></div>
                                <div class="ground-client-caption">
                                    <h5>Ht. Wolf Gilwedkar</h5>
                                    <span class="text-mid">PHP Developer</span>
                                </div>
                            </div>
                            <div class="ground-client-last">
                                <div class="ground-btn">
                                    <a href="JavaScript:Void(0);" class="btns bg-light-success text-success me-2"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="JavaScript:Void(0);" class="btns bg-light-info text-info"><i class="fa-solid fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ground-client-single-list">
                            <div class="ground-client-first">
                                <div class="ground-client-thumb"><img src="assets/img/team-3.jpg" class="img-fluid circle" alt=""></div>
                                <div class="ground-client-caption">
                                    <h5>Mr. Dhananjay Preet</h5>
                                    <span class="text-mid">Product Designer</span>
                                </div>
                            </div>
                            <div class="ground-client-last">
                                <div class="ground-btn">
                                    <a href="JavaScript:Void(0);" class="btns bg-light-success text-success me-2"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="JavaScript:Void(0);" class="btns bg-light-info text-info"><i class="fa-solid fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ground-client-single-list">
                            <div class="ground-client-first">
                                <div class="ground-client-thumb"><img src="assets/img/team-4.jpg" class="img-fluid circle" alt=""></div>
                                <div class="ground-client-caption">
                                    <h5>Adam Wilsoryerd</h5>
                                    <span class="text-mid">Web Designer</span>
                                </div>
                            </div>
                            <div class="ground-client-last">
                                <div class="ground-btn">
                                    <a href="JavaScript:Void(0);" class="btns bg-light-success text-success me-2"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="JavaScript:Void(0);" class="btns bg-light-info text-info"><i class="fa-solid fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ground-client-single-list">
                            <div class="ground-client-first">
                                <div class="ground-client-thumb"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt=""></div>
                                <div class="ground-client-caption">
                                    <h5>Surya Prabhakar</h5>
                                    <span class="text-mid">SEO Specialist</span>
                                </div>
                            </div>
                            <div class="ground-client-last">
                                <div class="ground-btn">
                                    <a href="JavaScript:Void(0);" class="btns bg-light-success text-success me-2"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="JavaScript:Void(0);" class="btns bg-light-info text-info"><i class="fa-solid fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Advertisement with location</h4>
                    </div>
                    <div class="Chart" > 
                        <div>
                          <div >
                            <div style="width: 500px;margin-left:25%">
                              <canvas id="myChart2" >  
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Notifications</h6>
                    </div>
                    <div class="ground-list ground-list-hove">
                        <div class="ground ground-single-list">
                            <a href="JavaScript:Void(0);">
                                <div class="btn-circle-40 text-warning bg-light-warning"><i class="fas fa-home"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Your listing <strong>Azreal Modern</strong> has been approved!.</a></h6>
                                <span class="small">Just Now</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-danger bg-light-danger"><i class="fa-solid fa-comments"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Litha Lynes left a review on <strong>Renovated Apartment</strong></a></h6>
                                <span class="small">20 min ago</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-info bg-light-info"><i class="fa-solid fa-heart"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Someone bookmark your View listing!<strong>Sargun Villa Bay</strong></a></h6>
                                <span class="small">1 day ago</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-danger bg-light-danger"><i class="fa-solid fa-thumbs-up"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Your listing <strong>Modern Family Home</strong> has been approved!.</a></h6>
                                <span class="small">10 days ago</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-success bg-light-success"><i class="fa-solid fa-comment-dots"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Adam Brown left a review on <strong>Renovated Apartment</strong></a></h6>
                                <span class="small">Just Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- row -->
        
    </div>
</div>