<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="preloader">
	<div class="preloader"><span></span><span></span></div>
</div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">


	<app-navbar></app-navbar>
		<router-outlet></router-outlet>
	<app-footer></app-footer>

	<!-- Log In Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
			<div class="modal-content" id="loginmodal">
				<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-close"></i></span>
				<div class="modal-header">
					<div class="mdl-thumb"><img src="assets/img/ico.png" class="img-fluid" width="70" alt=""></div>
					<div class="mdl-title">
						<h4 class="modal-header-title">Hello, Again</h4>
					</div>
				</div>
				<div class="modal-body">
					<div class="modal-login-form">
						<form>

							<div class="form-floating mb-4">
								<input type="email" class="form-control" placeholder="name@example.com">
								<label>User Name</label>
							</div>

							<div class="form-floating mb-4">
								<input type="password" class="form-control" placeholder="Password">
								<label>Password</label>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary full-width font--bold btn-lg">Log
									In</button>
							</div>

							<div class="modal-flex-item mb-3">
								<div class="modal-flex-first">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="savepassword"
											value="option1">
										<label class="form-check-label" for="savepassword">Save Password</label>
									</div>
								</div>
								<div class="modal-flex-last">
									<a href="JavaScript:Void(0);">Forget Password?</a>
								</div>
							</div>
						</form>
					</div>
					<div class="social-login">
						<ul>
							<li><a href="JavaScript:Void(0);" class="btn connect-fb"><i
										class="fa-brands fa-facebook"></i>Facebook</a></li>
							<li><a href="JavaScript:Void(0);" class="btn connect-google"><i
										class="fa-brands fa-google"></i>Google+</a></li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<p>Don't have an account yet?<a href="signup.html" class="theme-cl font--bold ms-1">Sign Up</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal -->

	<!-- Bid Offer Modal -->
	<div class="modal fade" id="offer" tabindex="-1" role="dialog" aria-labelledby="offermodal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered offer-pop-form" role="document">
			<div class="modal-content" id="offermodal">
				<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-close"></i></span>
				<div class="modal-body">
					<div class="text-center">
						<h2 class="mb-0">Bid Your Offer</h2>
						<h4 class="mb-0">For 5689 Resot Relly, Canada</h4>
						<a class="text-success font--bold" href="tel:4048651904">(404) 865-1904</a>
					</div>
					<div class="offer-form">
						<form>

							<div class="row">

								<div class="col-lg-12 col-md-12">
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control" placeholder="Dhananjay Preet">
									</div>
								</div>

								<div class="col-lg-12 col-md-12">
									<div class="form-group">
										<label>Phone</label>
										<input type="text" class="form-control" placeholder="dhananjaypreet@gmail.com">
									</div>
								</div>

								<div class="col-lg-12 col-md-12">
									<div class="form-group">
										<label>Your Offer</label>
										<input type="text" class="form-control" placeholder="$47,500">
									</div>
								</div>

							</div>

							<div class="default-terms_wrap mb-3">
								<div class="default-terms_flex">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="terms" value="option1">
										<label class="form-check-label small font--medium" for="terms">By submitting
											this form, you agree to our <a href="JavaScript:Void(0);"
												title="Terms of Service" class="theme-cl font--medium">Terms of
												Service</a> and <a href="JavaScript:Void(0);" title="Privacy Policy"
												class="theme-cl font--medium">Privacy Policy</a>.</label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<button type="submit" class="btn full-width btn-primary">Submit Offer</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal -->

	<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>