<!-- ============================ Page Title Start================================== -->
<div class="page-title" style="background:#017efa url(assets/img/page-title.png) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
                <h2 class="ipt-title">Get In touch</h2>
                <span class="ipn-subtitle">Get all latest news and updates</span>
                
            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Contact Start ================================== -->
<section>

    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <label class="label text-success bg-light-success">Grow Your Business</label>
                    <h2>Activate Next Now</h2>
                    <p>Please fill the form and we will guide you to the best solution. Our experts will get in touch soon.</p>
                </div>
            </div>
        </div>
    
        <!-- row Start -->
        <div class="row align-items-center justify-content-center">
        
            <form class="col-lg-10 col-md-12" [formGroup]="addForm" (ngSubmit)="addClaim()" >
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control simple" formControlName="name">
                            <div *ngIf="addForm.get('name')!.invalid && (addForm.get('name')!.dirty || addForm.get('name')!.touched)">
                                <span class="error">Veuillez saisir votre a Nome & Prénom.</span>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control simple" formControlName="email">
                            <div *ngIf="email!.invalid && email!.touched">
                                <p *ngIf="email?.errors?.['required']" class="error">Veuillez saisir votre E-mail</p>
                                <p *ngIf="email?.errors?.['pattern']" class="error">E-mail Invalide</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" class="form-control simple"  formControlName="sujet">
                            <div *ngIf="addForm.get('sujet')!.invalid && (addForm.get('sujet')!.dirty || addForm.get('sujet')!.touched)">
                                <span class="error">Veuillez saisir votre Sujet.</span>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Phone.</label>
                            <input type="text" class="form-control simple">
                        </div>
                    </div>-->
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control simple" formControlName="description"></textarea>
                            <div *ngIf="addForm.get('description')!.invalid && (addForm.get('description')!.dirty || addForm.get('description')!.touched)">
                                <span class="error">Veuillez saisir votre Description.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <button  [disabled]="addForm.invalid"  class="btn btn-primary" type="submit">Submit Request</button>
                        </div>
                    </div>
                </div>				
            </form>		
            
        </div>
        <!-- /row -->

        <!-- row Start -->
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 col-md-12">
                
                <div class="ctr-veshm-box">
                    <div class="ctr-veshm-signl">
                        <div class="ctr-veshm-signl-ico"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="ctr-veshm-signl-caption">
                            <h5>Hyderabad</h5>
                            <p>Krishe Emerald, Whitefields, Kondapur, Hyderabad, Telangana 500081</p>
                            <p>themezhub@gmail.com</p>
                        </div>
                    </div>
                    <div class="ctr-veshm-signl">
                        <div class="ctr-veshm-signl-ico"><i class="fa-solid fa-map-location-dot"></i></div>
                        <div class="ctr-veshm-signl-caption">
                            <h5>Bengaluru</h5>
                            <p>Prestige Cube, Koramangala, Bengaluru, Karnataka 560029</p>
                            <p>themezhub@gmail.com</p>
                        </div>
                    </div>
                    <div class="ctr-veshm-signl">
                        <div class="ctr-veshm-signl-ico"><i class="fa-solid fa-map-location"></i></div>
                        <div class="ctr-veshm-signl-caption">
                            <h5>Nagpur</h5>
                            <p>B-101, Vedant Sapphire, Sneha Nagar, Nagpur, Maharashtra, 440015</p>
                            <p>themezhub@gmail.com</p>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
        <!-- /row -->					
        
    </div>
            
</section>
<!-- ============================ Contact End ================================== -->

<!-- ============================ Call To Action ================================== -->
<section class="bg-cover call-action-container dark" style="background:#065eb5 url(assets/img/footer-bg-dark.png)no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12">
                
                <div class="call-action-wrap">
                    <div class="call-action-caption">
                        <h2 class="text-light">Are You Already Working With Us?</h2>
                        <p class="text-light">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
                    </div>
                    <div class="call-action-form">
                        <form>
                            <div class="newsltr-form">
                                <input type="text" class="form-control" placeholder="Enter Your email">
                                <button type="button" class="btn btn-subscribe">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- ============================ Call To Action End ================================== -->

