<!-- ============================ Page Title Start================================== -->
<div class="page-title" style="background:#017efa url(assets/img/page-title.png) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
                <h2 class="ipt-title">Get In touch</h2>
                <span class="ipn-subtitle">Get all latest news and updates</span>
                
            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Contact Start ================================== -->
<section>

    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <label class="label text-success bg-light-success">Grow Your Business</label>
                    <h2>Activate Next Now</h2>
                    <p>Please fill the form and we will guide you to the best solution. Our experts will get in touch soon.</p>
                </div>
            </div>
        </div>
    
        <!-- row Start -->
        <div class="row align-items-center justify-content-center">
        
            
<div _ngcontent-hcd-c18="" class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
    <div _ngcontent-hcd-c18="" class="hero-search-wrap">
        <div _ngcontent-hcd-c18="" class="hero-search">
            <h1 _ngcontent-hcd-c18="">Find accessible homes For rent</h1>
        </div>
        <div _ngcontent-hcd-c18="" class="hero-search-content verticle-space">
            <div _ngcontent-hcd-c18="" class="row">
                <div _ngcontent-hcd-c18="" class="col-lg-12 col-md-12 col-sm-12">
                    <div _ngcontent-hcd-c18="" class="form-group">
                        <div _ngcontent-hcd-c18="" class="input-with-icon"><input _ngcontent-hcd-c18="" type="text"
                                placeholder="Search for a location" class="form-control border"><img
                                _ngcontent-hcd-c18="" src="assets/img/pin.svg" width="18" alt=""></div>
                    </div>
                </div>
                <div _ngcontent-hcd-c18="" class="col-lg-6 col-md-6 col-sm-6">
                    <div _ngcontent-hcd-c18="" class="form-group"><label _ngcontent-hcd-c18="">Min Price</label><select
                            _ngcontent-hcd-c18="" class="form-control" style="display: none;">
                            <option _ngcontent-hcd-c18="" value="1">$500</option>
                            <option _ngcontent-hcd-c18="" value="2">$1000</option>
                            <option _ngcontent-hcd-c18="" value="3">$1500</option>
                            <option _ngcontent-hcd-c18="" value="4">2000</option>
                            <option _ngcontent-hcd-c18="" value="5">3000</option>
                        </select>
                        <div class="nice-select form-control" tabindex="0"><span class="current">$500</span>
                            <ul class="list">
                                <li data-value="1" class="option selected">$500</li>
                                <li data-value="2" class="option">$1000</li>
                                <li data-value="3" class="option">$1500</li>
                                <li data-value="4" class="option">2000</li>
                                <li data-value="5" class="option">3000</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div _ngcontent-hcd-c18="" class="col-lg-6 col-md-6 col-sm-6">
                    <div _ngcontent-hcd-c18="" class="form-group"><label _ngcontent-hcd-c18="">Max Price</label><select
                            _ngcontent-hcd-c18="" class="form-control" style="display: none;">
                            <option _ngcontent-hcd-c18="" value="1">$1000</option>
                            <option _ngcontent-hcd-c18="" value="2">$1500</option>
                            <option _ngcontent-hcd-c18="" value="3">$2000</option>
                            <option _ngcontent-hcd-c18="" value="4">$3000</option>
                            <option _ngcontent-hcd-c18="" value="5">$5000</option>
                        </select>
                        <div class="nice-select form-control" tabindex="0"><span class="current">$1000</span>
                            <ul class="list">
                                <li data-value="1" class="option selected">$1000</li>
                                <li data-value="2" class="option">$1500</li>
                                <li data-value="3" class="option">$2000</li>
                                <li data-value="4" class="option">$3000</li>
                                <li data-value="5" class="option">$5000</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div _ngcontent-hcd-c18="" class="col-lg-6 col-md-6 col-sm-6">
                    <div _ngcontent-hcd-c18="" class="form-group"><label _ngcontent-hcd-c18="">Property
                            Type</label><select _ngcontent-hcd-c18="" class="form-control" style="display: none;">
                            <option _ngcontent-hcd-c18="" value="1">Rental</option>
                            <option _ngcontent-hcd-c18="" value="2">Villas</option>
                            <option _ngcontent-hcd-c18="" value="3">Offices</option>
                            <option _ngcontent-hcd-c18="" value="4">Condos</option>
                            <option _ngcontent-hcd-c18="" value="5">Studios</option>
                        </select>
                        <div class="nice-select form-control" tabindex="0"><span class="current">Rental</span>
                            <ul class="list">
                                <li data-value="1" class="option selected">Rental</li>
                                <li data-value="2" class="option">Villas</li>
                                <li data-value="3" class="option">Offices</li>
                                <li data-value="4" class="option">Condos</li>
                                <li data-value="5" class="option">Studios</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div _ngcontent-hcd-c18="" class="col-lg-6 col-md-6 col-sm-6">
                    <div _ngcontent-hcd-c18="" class="form-group"><label _ngcontent-hcd-c18="">Bed Rooms</label><select
                            _ngcontent-hcd-c18="" class="form-control" style="display: none;">
                            <option _ngcontent-hcd-c18="" value="1">1</option>
                            <option _ngcontent-hcd-c18="" value="2">2</option>
                            <option _ngcontent-hcd-c18="" value="3">3</option>
                            <option _ngcontent-hcd-c18="" value="4">4</option>
                            <option _ngcontent-hcd-c18="" value="5">5</option>
                        </select>
                        <div class="nice-select form-control" tabindex="0"><span class="current">1</span>
                            <ul class="list">
                                <li data-value="1" class="option selected">1</li>
                                <li data-value="2" class="option">2</li>
                                <li data-value="3" class="option">3</li>
                                <li data-value="4" class="option">4</li>
                                <li data-value="5" class="option">5</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div _ngcontent-hcd-c18="" class="col-lg-12 col-md-12 col-sm-12">
                    <div _ngcontent-hcd-c18="" class="form-group"><label _ngcontent-hcd-c18="">Property
                            Location</label><select _ngcontent-hcd-c18="" class="form-control" style="display: none;">
                            <option _ngcontent-hcd-c18="" value="1">Los Angeles, CA</option>
                            <option _ngcontent-hcd-c18="" value="2">New York City, NY</option>
                            <option _ngcontent-hcd-c18="" value="3">Chicago, IL</option>
                            <option _ngcontent-hcd-c18="" value="4">Houston, TX</option>
                            <option _ngcontent-hcd-c18="" value="5">Philadelphia, PA</option>
                            <option _ngcontent-hcd-c18="" value="6">San Antonio, TX</option>
                            <option _ngcontent-hcd-c18="" value="7">San Jose, CA</option>
                        </select>
                        <div class="nice-select form-control" tabindex="0"><span class="current">Los Angeles, CA</span>
                            <ul class="list">
                                <li data-value="1" class="option selected">Los Angeles, CA</li>
                                <li data-value="2" class="option">New York City, NY</li>
                                <li data-value="3" class="option">Chicago, IL</li>
                                <li data-value="4" class="option">Houston, TX</li>
                                <li data-value="5" class="option">Philadelphia, PA</li>
                                <li data-value="6" class="option">San Antonio, TX</li>
                                <li data-value="7" class="option">San Jose, CA</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div _ngcontent-hcd-c18="" class="col-lg-12 col-md-12 col-sm-12"><button _ngcontent-hcd-c18=""
                        type="submit" class="btn search-btn">Search Result</button></div>
            </div>
        </div>
    </div>
</div>
        </div>
        <!-- /row -->
