               <form>
                <!-- <ng-select>
                  <option *ngFor="let gouvernorate of ListGouvernorate" [value]="gouvernorate" >{{gouvernorate}}</option>
               </ng-select> -->
                <label>Governorate</label>
                <select class="form-control" name="governorate" >
                  <option *ngFor="let gouvernorate of ListGouvernorate" [value]="gouvernorate" >{{gouvernorate}}</option>
                </select>
                <!-- <ng-select [items]="ListGouvernorate" [(ngModel)]="newgovernorate"></ng-select> -->
               </form>



                  <!-- <div *ngFor="let gouvernorate of ListGouvernorate">
                    <h1>{{gouvernorate.name}}</h1>
                  </div> 

                  <div class="form-group">
                    <label>Governorate</label>
                    <select #opType class="form-control" required>
                      <option *ngFor="let gouvernorate of ListGouvernorate"  value="{{gouvernorate.idGovernorate}}" placeholder="Operation Type">{{gouvernorate.name}}</option>
                    </select>-->
                 
                                          


               
