<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="full-search-2 mt-2">
            <div class="hero-search-content colored">
                
                <div class="row classic-search-box m-0 gx-2">
                        
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group briod">
                            <div class="input-with-icon">
                                <input type="text" class="form-control" placeholder="Ex. villa, town etc.">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            <div class="form-group briod">
                                <div class="input-with-icon">
                                    <select class="form-control">
                                        <option value="1">Property types</option>
                                        <option value="2">Townhome</option>
                                        <option value="3">Office & Studio</option>
                                        <option value="4">Apartments</option>
                                        <option value="5">Condos</option>
                                        <option value="6">Bungalow</option>
                                        <option value="7">Farmhouse</option>
                                        <option value="8">Tiny House</option>
                                    </select>
                                    <i class="fa-solid fa-house-crack"></i>
                                </div>
                            </div>
                        </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="input-with-icon">
                                <select class="form-control">
                                    <option value="1">Select City</option>
                                    <option value="2">Huntingdon</option>
                                    <option value="3">Fenland</option>
                                    <option value="4">Aylesbury</option>
                                    <option value="5">Amersham</option>
                                    <option value="6">Macclesfield</option>
                                    <option value="7">Congleton</option>
                                    <option value="8">UNantwich</option>
                                </select>
                                <i class="fa-solid fa-location-crosshairs"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="fliox-search-wiop">
                            <div class="form-group me-2">
                                <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#filter" class="btn btn-filter-search"><i class="fa-solid fa-filter"></i>Filter</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary full-width">Search</button>
                            </div>
                        </div>
                    </div>
                            
                </div>
                
            </div>
        </div>						
    </div>
</div>

<!-- Start Shorting -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="item-shorting-box mt-4 bg-white border rounded px-3 py-3 mb-5">
            <div class="item-shorting clearfix">
                <div class="left-column"><h4 class="m-0 text-dark font--medium"><span>207</span> Results Found of 612</h4></div>
            </div>
            <div class="item-shorting-box-right">
                <div class="shorting-by">
                    <select>
                        <option value="0">Shorting By:</option>
                        <option value="1">Low Price</option>
                        <option value="2">High Price</option>
                        <option value="3">Most Popular</option>
                    </select>
                </div>
                <ul class="shorting-list">
                    <li><a href="grid-full-style-1.html" class="border"><i class="fas fa-table-cells-large"></i></a></li>
                    <li><a href="list-full-style-1.html" class="active border"><i class="fas fa-list"></i></a></li> 
                </ul>
            </div>
        </div>
    </div>	
</div>