<div class="col-xl-8 col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Sold Property</h4>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Price</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td><a href="#" class="font--medium"><img src="assets/img/prt-1.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Luxury House</a></td>
                            <td><div class="d-inline-flex label text-success bg-light-success">Paid</div></td>                
                            <td class="prt-fgi">$120M</td>
                            <td>04/10/2013</td>  
                        </tr>
                        
                       
                   
                        
                       
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>