 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light head-shadow">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="assets/img/logo.png" class="logo" alt="">
							</a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li class="list-buttons">
										<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Log In</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
							
								<li class="active"><a href="JavaScript:Void(0);">Home<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a class="active" href="index.html">Home Layout 1</a></li>
										<li><a href="home-2.html">Home Layout 2</a></li>
										<li><a href="home-3.html">Home Layout 3</a></li>
										<li><a href="home-4.html">Home Layout 4</a></li>
										<li><a href="home-5.html">Home Layout 5</a></li>
										<li><a href="home-6.html">Home Layout 6</a></li>
										<li><a href="home-7.html">Home Layout 7</a></li>
									</ul>
								</li>
								
								<li><a href="JavaScript:Void(0);">Searches<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);">Grid Layout<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="grid-style-1.html">Grid Style 1</a></li>                                    
												<li><a href="grid-style-2.html">Grid Stle 2</a></li>                                    
												<li><a href="grid-style-3.html">Grid Style 3</a></li>                                    
												<li><a href="grid-full-style-1.html">Grid Full Style 1</a></li>
												<li><a href="grid-full-style-2.html">Grid Full Style 2</a></li>	 
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">List Layout<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="list-style-1.html">List Style 1</a></li>                                    
												<li><a href="list-style-2.html">List Style 2</a></li>                                    
												<li><a href="list-full-style-1.html">List Full Style 1</a></li>
												<li><a href="list-full-style-2.html">List Full Style 2</a></li>
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Search With Map<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="half-map.html">Half Map Style 1</a></li>                                    
												<li><a href="half-map-2.html">Half Map Style 2</a></li>                                    
												<li><a href="half-map-3.html">Half Map Style 3</a></li>                                    
												<li><a href="half-map-list.html">Half Map List Search 1</a></li>
												<li><a href="half-map-list-2.html">Half Map List Search 2</a></li>												
											</ul>
										</li>
									</ul>
								</li>
								
								<li><a href="JavaScript:Void(0);">Features<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);">Single Property<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="single-property-1.html">Single Property 1</a></li>                                    
												<li><a href="single-property-2.html">Single Property 2</a></li>                                    
												<li><a href="single-property-3.html">Single Property 3</a></li>   
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Agencies & Agents<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="agent-grid.html">Agents Search Grid</a></li>                                    
												<li><a href="agent-list.html">Agent Search List</a></li>                                    
												<li><a href="agency-grid.html">Agency Search Grid</a></li>                                    
												<li><a href="agency-list.html">Agency Search List</a></li>
												<li><a href="agent-detail.html">Agent Detail</a></li>
												<li><a href="agency-detail.html">Agency Detail</a></li>												
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">My Account<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="dashboard.html">User Dashboard</a></li>
												<li><a href="submit-property-dashboard.html">Submit Property</a></li>
												<li><a href="my-profile.html">My Profile</a></li>                                    
												<li><a href="my-property.html">Property List</a></li>                                    
												<li><a href="bookmark-list.html">Bookmarked Listings</a></li>                                    
												<li><a href="change-password.html">Change Password</a></li> 
											</ul>
										</li>
										<li>
											<a href="compare-property.html">Compare Property</a>                                
										</li>
										<li>
											<a href="submit-property.html">Submit Property</a>                                
										</li>
									</ul>
								</li>
								
								<li><a href="JavaScript:Void(0);">Pages<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="about-us.html">About Us</a></li> 
										<li><a href="404.html">Error Page</a></li>
										<li><a href="checkout.html">Checkout</a></li>										
										<li><a href="blog.html">Blogs Page</a></li>                                    
										<li><a href="blog-detail.html">Blog Detail</a></li>                                    
										<li><a href="privacy.html">Terms & Privacy</a></li> 
										<li><a href="pricing.html">Pricing</a></li>  
										<li><a href="faq.html">FAQ's</a></li>
										<li><a href="contact.html">Contacts</a></li>
									</ul>
								</li>
								
								<li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Help</a></li>
								
							</ul>
							
							<ul class="nav-menu nav-menu-social align-to-right">
								
								<li class="list-buttons border">
									<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Log In</a>
								</li>
								<li class="list-buttons ms-2">
									<a href="signup.html"><i class="fas fa-user-alt me-2"></i>Sign Up</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero-header" style="background:url(assets/img/banner-1.png) no-repeat;">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
							<h3 class="theme-cl">Buy & Rent</h3>
							<h1 class="mb-4">Choose<br><span>your luxurious room</span></h1>
							<p>Would you explore nature paradise in the world, let't find the best property in California withus.</p>
							<div class="lios-vrst">
								<ul>
									<li>
										<div class="lios-parts">
											<h2>1.2<span class="theme-cl">M</span></h2>
											<h6>Happy Customer</h6>
										</div>
									</li>
									
									<li>
										<div class="lios-parts">
											<h2>100<span class="theme-cl">+</span></h2>
											<h6>Ready Property</h6>
										</div>
									</li>
									
									<li>
										<div class="lios-parts">
											<h2>30<span class="theme-cl">K</span></h2>
											<h6>Google reviews</h6>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
							<div class="hero-search-wrap">
								<div class="hero-search">
									<h1>Find accessible homes For rent</h1>
								</div>
								<div class="hero-search-content verticle-space">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control border" placeholder="Search for a location">
													<img src="assets/img/pin.svg" width="18" alt="">
												</div>
											</div>
										</div>
									
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Min Price</label>
												<select class="form-control">
													<option value="1">$500</option>
													<option value="2">$1000</option>
													<option value="3">$1500</option>
													<option value="4">2000</option>
													<option value="5">3000</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Max Price</label>
												<select class="form-control">
													<option value="1">$1000</option>
													<option value="2">$1500</option>
													<option value="3">$2000</option>
													<option value="4">$3000</option>
													<option value="5">$5000</option>
												</select>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Property Type</label>
												<select class="form-control">
													<option value="1">Rental</option>
													<option value="2">Villas</option>
													<option value="3">Offices</option>
													<option value="4">Condos</option>
													<option value="5">Studios</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Bed Rooms</label>
												<select class="form-control">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>Property Location</label>
												<select class="form-control">
													<option value="1">Los Angeles, CA</option>
													<option value="2">New York City, NY</option>
													<option value="3">Chicago, IL</option>
													<option value="4">Houston, TX</option>
													<option value="5">Philadelphia, PA</option>
													<option value="6">San Antonio, TX</option>
													<option value="7">San Jose, CA</option>
												</select>
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<button type="submit" class="btn search-btn">Search Result</button>
										</div>
									
									</div>
								</div>
						
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			
			<!-- ============================= Explore Property =============================== -->
			<section>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>Properties on Veshm</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center gx-3 gy-4">
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type"><span>For rent</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-1.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-8.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-9.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$7,549<span class="monthly">/Months</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Agile Real Estate Group</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>3 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>2 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>2000 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type"><span>For rent</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-2.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-10.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-11.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$7,549<span class="monthly">/Months</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Goldfinch Real Property</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>7 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>3 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>2700 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type fr-sale"><span>For Sale</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-3.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-12.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-13.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$9,10770<span class="monthly">/USD</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Great Apex Realty Group</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>5 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>2 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>1800 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type"><span>For rent</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-4.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-14.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-15.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$7,549<span class="monthly">/Months</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Hearthstone Real Property</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>6 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>4 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>3200 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type"><span>For rent</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-5.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-10.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-9.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$7,549<span class="monthly">/Months</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">The Select Brick Builders</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>5 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>4 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>4000 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type fr-sale"><span>For Sale</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-6.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-12.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-13.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$12,50650<span class="monthly">/USD</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Dream Big Real Estate</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>3 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>3 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>2100 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type"><span>For rent</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-7.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-10.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-11.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$7,549<span class="monthly">/Months</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Knob and Key Realty Group</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>3 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>2 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>2400 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
						
						<!-- Single Property -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="veshm-list-wraps">
								<div class="veshm-type fr-sale"><span>For Sale</span></div>
								
								<div class="veshm-list-thumb">
									<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button>
									<div class="veshm-list-img-slide">
										<div class="veshm-list-click">
											<div><a href="single-property-1.html"><img src="assets/img/prt-8.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-12.png" class="img-fluid mx-auto" alt=""></a></div>
											<div><a href="single-property-1.html"><img src="assets/img/prt-13.png" class="img-fluid mx-auto" alt=""></a></div>
										</div>
									</div>
								</div>
								<div class="veshm-list-block">
									<div class="veshm-list-head">
										<div class="veshm-list-head-caption">
											<div class="rlhc-price">
												<h4 class="rlhc-price-name theme-cl">$8,70510<span class="monthly">/USD</span></h4>
											</div>
											<div class="listing-short-detail-flex">
												<h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Allen Tate Real Company</a></h5>
											</div>
											<div class="veshm-list-icons">
												<ul>
													<li><i class="fa-solid fa-bed"></i><span>4 Bed</span></li>
													<li><i class="fa-solid fa-bath"></i><span>2 Ba</span></li>
													<li><i class="fa-solid fa-vector-square"></i><span>1700 sft</span></li>
												</ul>
											</div>
										</div>
										<div class="veshm-list-head-flex">
											<button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>	
										</div>
									</div>
									
									<div class="resi-prty-offers-box">
										<div class="prty-offers-input">
											<div class="input-form">
												<input type="text" class="form-control" placeholder="0">
												<span class="prefix-title">USD/Month</span>
											</div>
										</div>
										<div class="prty-offers-btn">
											<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#offer" class="btn btn-offer-send">Send Offer</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Single Property -->
							
					</div>
				</div>
			</section>
			<!-- ============================= End Explore Property =============================== -->
			
			<!-- ============================= Browse Locations =============================== -->
			<section class="image-cover faq-sec text-center" style="background:url(https://images.unsplash.com/photo-1638645694733-cab4ebf12088?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80) no-repeat;" data-overlay="6">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
						
							<div class="vshm-cov-wrap">
								<div class="vshm-cov-head"><h2>Explore Property In UK</h2></div>
								<div class="vshm-cov-caption">
									<ul>
										<li><a href="javascript:void(0);">San Francisco</a></li>
										<li><a href="javascript:void(0);">Chicago</a></li>
										<li><a href="javascript:void(0);">Austin</a></li>
										<li><a href="javascript:void(0);">California</a></li>
										<li><a href="javascript:void(0);">Denver</a></li>
										<li><a href="javascript:void(0);">Portland</a></li>
										<li><a href="javascript:void(0);">Los Angeles</a></li>
										<li><a href="javascript:void(0);">New Orleans</a></li>
										<li><a href="javascript:void(0);">San Diego</a></li>
										<li><a href="javascript:void(0);">Dallas</a></li>
										<li><a href="javascript:void(0);">Houston</a></li>
										<li><a href="javascript:void(0);">Atlanta</a></li>
										<li><a href="javascript:void(0);">Las Vegas</a></li>
									</ul>
								</div>
								<div class="vshm-cov-more">
									<button type="button" class="btn btn-lg btn-whites">Explore More Locations</button>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			<!-- ============================= End Browse Locations =============================== -->
			
			<!-- ============================= Explore Categories =============================== -->
			<section>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>Browse More category</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
					
					<div class="row gx-3 gy-4">
					
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>26 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-house-chimney-crack abs"></i><i class="fa-solid fa-house-chimney-crack"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Townhome</h4>
										<div class="vesh-prt-location">06 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>20 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-vihara abs"></i><i class="fa-solid fa-vihara"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Bungalow</h4>
										<div class="vesh-prt-location">04 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>19 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-house-chimney abs"></i><i class="fa-solid fa-house-chimney"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Condos</h4>
										<div class="vesh-prt-location">07 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>22 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-tents abs"></i><i class="fa-solid fa-tents"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Container</h4>
										<div class="vesh-prt-location">05 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>42 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-ship abs"></i><i class="fa-solid fa-ship"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Houseboat</h4>
										<div class="vesh-prt-location">08 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>16 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-house-laptop abs"></i><i class="fa-solid fa-house-laptop"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Office & Studio</h4>
										<div class="vesh-prt-location">03 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>14 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-house-medical abs"></i><i class="fa-solid fa-house-medical"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Mediterranean</h4>
										<div class="vesh-prt-location">05 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>17 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-school-flag abs"></i><i class="fa-solid fa-school-flag"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Tiny House</h4>
										<div class="vesh-prt-location">06 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>32 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-house-user abs"></i><i class="fa-solid fa-house-user"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Apartments</h4>
										<div class="vesh-prt-location">07 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>28 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-landmark-flag abs"></i><i class="fa-solid fa-landmark-flag"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Farmhouse</h4>
										<div class="vesh-prt-location">10 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>18 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-dungeon abs"></i><i class="fa-solid fa-dungeon"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Cape Cod</h4>
										<div class="vesh-prt-location">04 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="vesh-categ-box light">
								<a href="search-property.html" class="vesh-categ-links">
									<div class="veshm-list-098"><span>12 List</span></div>
									<div class="vesh-categ-icons">
										<i class="fa-solid fa-warehouse abs"></i><i class="fa-solid fa-warehouse"></i>
									</div>
									<div class="vesh-categ-content">
										<h4 class="vesh-content-title">Split Level</h4>
										<div class="vesh-prt-location">02 Locations</div>
									</div>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- ============================= End Explore Categories =============================== -->
			
			
			<!-- ============================ Call To Action ================================== -->
			<section class="bg-cover call-action-container" style="background:#f1f3f7 url(assets/img/footer-bg.png)no-repeat;">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12">
							
							<div class="call-action-wrap">
								<div class="call-action-caption">
									<h2>Are You Already Working With Us?</h2>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
								</div>
								<div class="call-action-form">
									<form>
										<div class="newsltr-form">
											<input type="text" class="form-control" placeholder="Enter Your email">
											<button type="button" class="btn btn-subscribe">Subscribe</button>
										</div>
									</form>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget">
									<img src="assets/img/logo-light.png" class="img-footer" alt="">
									<div class="footer-add">
										<p>Collins Street West, Victoria 8007, Australia.</p>
										<p><span class="ftp-info"><i class="fa fa-phone" aria-hidden="true"></i>+1 246-345-0695</span></p>
										<p><span class="ftp-info"><i class="fa fa-envelope" aria-hidden="true"></i>info@example.com</span></p>
									</div>
									
								</div>
							</div>		
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Navigations</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="faq.html">FAQs Page</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="blog.html">Blog</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">The Highlights</h4>
									<ul class="footer-menu">
										<li><a href="JavaScript:Void(0);">Apartment</a></li>
										<li><a href="JavaScript:Void(0);">My Houses</a></li>
										<li><a href="JavaScript:Void(0);">Restaurant</a></li>
										<li><a href="JavaScript:Void(0);">Nightlife</a></li>
										<li><a href="JavaScript:Void(0);">Villas</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">My Account</h4>
									<ul class="footer-menu">
										<li><a href="JavaScript:Void(0);">My Profile</a></li>
										<li><a href="JavaScript:Void(0);">My account</a></li>
										<li><a href="JavaScript:Void(0);">My Property</a></li>
										<li><a href="JavaScript:Void(0);">Favorites</a></li>
										<li><a href="JavaScript:Void(0);">Cart</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">Download Apps</h4>
									<div class="app-wrap">
										<p><a href="JavaScript:Void(0);"><img src="assets/img/Google-Play-Badge.svg" class="img-fluid" alt=""></a></p>
										<p><a href="JavaScript:Void(0);"><img src="assets/img/App-Store-Badge.svg" class="img-fluid" alt=""></a></p>
									</div>									
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-12 col-md-12">
								<p class="mb-0">© 2023 Veshm. Designd By <a href="https://themezhub.com/">Themez Hub</a> All Rights Reserved</p>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="loginmodal">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-close"></i></span>
						<div class="modal-header">
							<div class="mdl-thumb"><img src="assets/img/ico.png" class="img-fluid" width="70" alt=""></div>
							<div class="mdl-title"><h4 class="modal-header-title">Hello, Again</h4></div>
						</div>
						<div class="modal-body">
							<div class="modal-login-form">
								<form>
								
									<div class="form-floating mb-4">
										<input type="email" class="form-control" placeholder="name@example.com">
										<label>User Name</label>
									</div>
									
									<div class="form-floating mb-4">
										<input type="password" class="form-control" placeholder="Password">
										<label>Password</label>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-primary full-width font--bold btn-lg">Log In</button>
									</div>
									
									<div class="modal-flex-item mb-3">
										<div class="modal-flex-first">
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="checkbox" id="savepassword" value="option1">
												<label class="form-check-label" for="savepassword">Save Password</label>
											</div>
										</div>
										<div class="modal-flex-last">
											<a href="JavaScript:Void(0);">Forget Password?</a>
										</div>
									</div>
								</form>
							</div>
							<div class="social-login">
								<ul>
									<li><a href="JavaScript:Void(0);" class="btn connect-fb"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
									<li><a href="JavaScript:Void(0);" class="btn connect-google"><i class="fa-brands fa-google"></i>Google+</a></li>
								</ul>
							</div>
						</div>
						<div class="modal-footer">
							<p>Don't have an account yet?<a href="signup.html" class="theme-cl font--bold ms-1">Sign Up</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Bid Offer Modal -->
			<div class="modal fade" id="offer" tabindex="-1" role="dialog" aria-labelledby="offermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered offer-pop-form" role="document">
					<div class="modal-content" id="offermodal">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-close"></i></span>
						<div class="modal-body">
							<div class="text-center">
								<h2 class="mb-0">Bid Your Offer</h2>
								<h4 class="mb-0">For 5689 Resot Relly, Canada</h4>
								<a class="text-success font--bold" href="tel:4048651904">(404) 865-1904</a>
							</div>
							<div class="offer-form">
								<form>
									
									<div class="row">

										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<label>Name</label>
												<input type="text" class="form-control" placeholder="Dhananjay Preet">
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<label>Phone</label>
												<input type="text" class="form-control" placeholder="dhananjaypreet@gmail.com">
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<label>Your Offer</label>
												<input type="text" class="form-control" placeholder="$47,500">
											</div>
										</div>
										
									</div>
									
									<div class="default-terms_wrap mb-3">
										<div class="default-terms_flex">
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="checkbox" id="terms" value="option1">
												<label class="form-check-label small font--medium" for="terms">By submitting this form, you agree to our <a href="JavaScript:Void(0);" title="Terms of Service" class="theme-cl font--medium">Terms of Service</a> and <a href="JavaScript:Void(0);" title="Privacy Policy" class="theme-cl font--medium">Privacy Policy</a>.</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn full-width btn-primary">Submit Offer</button>
									</div>
								
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
