<div class="header header-light head-shadow">
    <div class="container">
        <nav id="navigation" class="navigation navigation-portrait">
            <div class="nav-header">
                <a class="nav-brand" href="#">
                    <img src="assets/img/logo.png" class="logo" alt="">
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul>
                        <li class="list-buttons">
                            <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;"><span class="nav-menus-wrapper-close-button">✕</span>
                <ul class="nav-menu">
                
                    <li class="active"><a href="JavaScript:Void(0);">Home<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                        
                    </li>
                    
                    <li class=""><a href="JavaScript:Void(0);">Searches<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                        <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                            <li><a href="JavaScript:Void(0);">Grid Layout<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                                <ul class="nav-dropdown nav-submenu" style="">
                                    <li><a href="grid-style-1.html">Grid Style 1</a></li>                                    
                                    <li><a href="grid-style-2.html">Grid Stle 2</a></li>                                    
                                    <li><a href="grid-style-3.html">Grid Style 3</a></li>                                    
                                    <li><a href="grid-full-style-1.html">Grid Full Style 1</a></li>
                                    <li><a href="grid-full-style-2.html">Grid Full Style 2</a></li>	 
                                </ul>
                            </li>
                            <li><a href="JavaScript:Void(0);">List Layout<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                                <ul class="nav-dropdown nav-submenu" style="">
                                    <li><a href="list-style-1.html">List Style 1</a></li>                                    
                                    <li><a href="list-style-2.html">List Style 2</a></li>                                    
                                    <li><a href="list-full-style-1.html">List Full Style 1</a></li>
                                    <li><a href="list-full-style-2.html">List Full Style 2</a></li>
                                </ul>
                            </li>
                            <li><a href="JavaScript:Void(0);">Search With Map<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                                <ul class="nav-dropdown nav-submenu" style="">
                                    <li><a href="half-map.html">Half Map Style 1</a></li>                                    
                                    <li><a href="half-map-2.html">Half Map Style 2</a></li>                                    
                                    <li><a href="half-map-3.html">Half Map Style 3</a></li>                                    
                                    <li><a href="half-map-list.html">Half Map List Search 1</a></li>
                                    <li><a href="half-map-list-2.html">Half Map List Search 2</a></li>												
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    <li class=""><a href="JavaScript:Void(0);">Features<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                        <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                            <li class=""><a href="JavaScript:Void(0);">Single Property<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                                <ul class="nav-dropdown nav-submenu" style="display: none;">
                                    <li><a href="single-property-1.html">Single Property 1</a></li>                                    
                                    <li><a href="single-property-2.html">Single Property 2</a></li>                                    
                                    <li><a href="single-property-3.html">Single Property 3</a></li>   
                                </ul>
                            </li>
                            <li class=""><a href="JavaScript:Void(0);">Agencies &amp; Agents<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                                <ul class="nav-dropdown nav-submenu" style="display: none;">
                                    <li><a href="agent-grid.html">Agents Search Grid</a></li>                                    
                                    <li><a href="agent-list.html">Agent Search List</a></li>                                    
                                    <li><a href="agency-grid.html">Agency Search Grid</a></li>                                    
                                    <li><a href="agency-list.html">Agency Search List</a></li>
                                    <li><a href="agent-detail.html">Agent Detail</a></li>
                                    <li><a href="agency-detail.html">Agency Detail</a></li>												
                                </ul>
                            </li>
                            <li class=""><a href="JavaScript:Void(0);">My Account<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                                <ul class="nav-dropdown nav-submenu" style="display: none;">
                                    <li class=""><a href="dashboard.html">User Dashboard</a></li>
                                    <li><a href="submit-property-dashboard.html">Submit Property</a></li>
                                    <li><a href="my-profile.html">My Profile</a></li>                                    
                                    <li><a href="my-property.html">Property List</a></li>                                    
                                    <li><a href="bookmark-list.html">Bookmarked Listings</a></li>                                    
                                    <li><a href="change-password.html">Change Password</a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="compare-property.html">Compare Property</a>                                
                            </li>
                            <li>
                                <a href="submit-property.html">Submit Property</a>                                
                            </li>
                        </ul>
                    </li>
                    
                    <li class=""><a href="JavaScript:Void(0);">Pages<span class="submenu-indicator"></span><span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span></a>
                        <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                            <li><a href="about-us.html">About Us</a></li> 
                           
                        </ul>
                    </li>
                    
                    <li class=""><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Help</a></li>
                    
                </ul>
                
                <ul class="nav-menu nav-menu-social align-to-right">
                    
                    <li class="list-buttons border">
                        <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Log In</a>
                    </li>
                    <li class="list-buttons ms-2">
                        <a href="signup.html"><i class="fas fa-user-alt me-2"></i>Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>