<div class="header header-light head-shadow">
    <div class="container">
        <nav id="navigation" class="navigation navigation-portrait">
            <div class="nav-header">
                <a class="nav-brand" href="#">
                    <img src="assets/img/logo.png" class="logo" alt="">
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul>
                        <li class="list-buttons">
                            <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;"><span class="nav-menus-wrapper-close-button">✕</span>
                <ul class="nav-menu">
                
                    <li class=""><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Homme</a></li>
                    
                    <li class=""><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Advertisement</a></li>
                    
                    <li class=""><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Forum</a></li>
                    <li class=""><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Contact</a></li>
                    
                    
                </ul>
                
                <ul class="nav-menu nav-menu-social align-to-right">
                    
                    <li class="list-buttons border">
                        <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Log In</a>
                    </li>
                    <li class="list-buttons ms-2">
                        <a href="signup.html"><i class="fas fa-user-alt me-2"></i>Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>