<div class="col-xl-9 col-lg-9 col-md-12">
    <div class="dashboard-body">
        
      
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Sold Property</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th>Date Created</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td><a href="#" class="font--medium"><img src="assets/img/prt-1.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Luxury House</a></td>
                                        <td><div class="d-inline-flex label text-success bg-light-success">Paid</div></td>                
                                        <td class="prt-fgi">$120M</td>
                                        <td>04/10/2013</td>  
                                    </tr>
                                    
                                    <tr>
                                        <td><a href="#" class="font--medium"><img src="assets/img/prt-2.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Sargun Apartment</a></td>
                                        <td><div class="d-inline-flex label text-warning bg-light-warning">Pending</div></td>							
                                        <td class="prt-fgi">$210M</td>
                                        <td>05/08/2014</td> 
                                    </tr>
                                    
                                    <tr>
                                        <td><a href="#" class="font--medium"><img src="assets/img/prt-3.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Preet Silver City</a></td>
                                        <td><div class="d-inline-flex label text-danger bg-light-danger">Cancel</div></td>  
                                        <td class="prt-fgi">$850M</td>
                                        <td>11/05/2015</td>                                          
                                    </tr>
                                    
                                    <tr>
                                        <td><a href="#" class="font--medium"><img src="assets/img/prt-4.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Mount See Villa</a></td>
                                        <td><div class="d-inline-flex label text-success bg-light-success">Paid</div></td>
                                        <td class="prt-fgi">$144M</td>
                                        <td>06/09/2016</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><a href="#" class="font--medium"><img src="assets/img/prt-5.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Mount See Villa</a></td>
                                        <td><div class="d-inline-flex label text-info bg-light-info">On Hold</div></td>
                                        <td class="prt-fgi">$410M</td>
                                        <td>06/09/2016</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><a href="#" class="font--medium"><img src="assets/img/prt-6.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Mount See Villa</a></td>
                                        <td><div class="d-inline-flex label text-success bg-light-success">Paid</div></td>
                                        <td class="prt-fgi">$317M</td>
                                        <td>06/09/2016</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><a href="#"><img src="assets/img/prt-7.png" class="img-fluid rounded mr-2" width="60" alt="Avatar">Mount See Villa</a></td>
                                        <td><div class="d-inline-flex label text-danger bg-light-danger">Cancel</div></td>
                                        <td class="prt-fgi">$115M</td>
                                        <td>06/09/2016</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Notifications</h6>
                    </div>
                    <div class="ground-list ground-list-hove">
                        <div class="ground ground-single-list">
                            <a href="JavaScript:Void(0);">
                                <div class="btn-circle-40 text-warning bg-light-warning"><i class="fas fa-home"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Your listing <strong>Azreal Modern</strong> has been approved!.</a></h6>
                                <span class="small">Just Now</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-danger bg-light-danger"><i class="fa-solid fa-comments"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Litha Lynes left a review on <strong>Renovated Apartment</strong></a></h6>
                                <span class="small">20 min ago</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-info bg-light-info"><i class="fa-solid fa-heart"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Someone bookmark your View listing!<strong>Sargun Villa Bay</strong></a></h6>
                                <span class="small">1 day ago</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-danger bg-light-danger"><i class="fa-solid fa-thumbs-up"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Your listing <strong>Modern Family Home</strong> has been approved!.</a></h6>
                                <span class="small">10 days ago</span>
                            </div>
                        </div>
                        
                        <div class="ground ground-single-list">
                            <a href="#">
                                <div class="btn-circle-40 text-success bg-light-success"><i class="fa-solid fa-comment-dots"></i></div>
                            </a>

                            <div class="ground-content">
                                <h6><a href="#">Adam Brown left a review on <strong>Renovated Apartment</strong></a></h6>
                                <span class="small">Just Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- row -->
        
    </div>
</div>