

<div class="row gx-3 gy-4">
    <!-- Single Agency Start -->
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let item of ListUsers ">
        <div class="veshm-agent-wrap">
            <button class="btn btn-like" type="button" (click)="deletePost(item.idAppUser)"><i class="fas fa-trash"></i></button>
            <div class="veshm-list-75"><span>{{item.accountStatus}}</span></div>
            <div class="veshm-agent-thumb">
                <a href="agency-detail.html" class="d-block"><img src="{{item.biography}}" class="img-fluid circle" alt=""></a>
            </div>
            <div class="veshm-agent-content">
                <h4 class="vesh-content-title"><a href="#" class="d-block">{{item.name}}</a></h4>
                <span class="resy-98">{{item.email}}</span>

        
            </div>
            <div class="veshm-agent-footer">
                <div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>{{item.address}}</div>
                <div class="veshm-agent-social">
                    <ul>
                        <li><button type="button" class="btn btn-md font--bold btn-light-warning me-2" (click)="activateAccount(item)">Activate Account</button></li>
                        <li><button type="button" class="btn btn-md font--bold btn-light-success" data-bs-toggle="modal" data-bs-target="#message" (click)="deactivateAccount(item)">Deactivate Account</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">	
        <div class="col-lg-12 col-md-12 col-sm-12">
            <nav aria-label="Page navigation example">
                  <ul class="pagination">
                   
                    <button *ngFor="let page of totalPages" 
                    (click)="changePage(page)"
                    class="btn btn-primary" style="background-color: white; color: black;"
                    [class.active]="currentPage === page">
              {{ page }}
            </button>
                  </ul>
            </nav>
        </div>
    </div>
</div>