<div class="page-bg">
    <div class="blog-thumb"><img style="width: 100%;" src="{{post.imageUrl}}" class="img-fluid" alt=""></div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<section class="gray-simple">

    <div class="container">
    
        <!-- row Start -->
        <div class="row">
        
            <!-- Blog Detail -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="blog-details single-post-item format-standard mb-4">
                    <div class="post-details">
                    
                        <div class="post-featured-img">
                            <img class="img-fluid" src="assets/img/p-1.html" alt="">
                        </div>
                        
                        <div class="post-top-meta">
                            <span class="pst-cats label text-success bg-light-success me-2">{{post.category}}</span>
                            <span class="pst-date label text-danger bg-light-danger">{{formatedDate}}</span>
                        </div>

                        
                        <h3 class="post-title">{{post.title}}</h3>
                        <p>{{post.content}}</p>

                        <div class="post-bottom-meta" *ngIf="relatedTags.length > 0">
                            <div class="post-tags">
                                <h4 class="pbm-title">Related Tags</h4>
                                <ul class="list">
                                    <li *ngFor="let tag of relatedTags"><a href="">{{tag}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">

                    </div>
                    
                    <div class="pg-side-block-buttons">
                        <div class="form-group">
                            <a class="btn btn-primary" (click)="downloadPdfPost()">Print Post</a>
                        </div>
                    </div>
                    <div class="pst-foot-roiu">								
                        <div class="post-share">
                            <ul class="list">
                                <li><i class="fa-solid fa-share-nodes"></i></li>
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href=""><i class="fab fa-vk"></i></a></li>
                                <li><a href=""><i class="fab fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Blog Comment -->
                <div class="blog-details single-post-item format-standard">
                    <div class="post-details">
                        <div class="comment-area">
                            <div class="all-comments">
                                <h3 class="comments-title">{{responses.length}} Comments</h3>
                                <div class="comment-list">
                                    <ul>
                                        <li class="single-comment" *ngFor="let response of responses">
                                            <article>
                                                <div class="comment-author" style="width: 10%">
                                                    <img src="assets/img/user-4.png" class=" img-fluid circle" alt="">
                                                </div>
                                                <div class="comment-details" style="width: 90%">
                                                    <div class="comment-meta">
                                                        <div class="comment-left-meta">
                                                            <h4 class="author-name">{{response.author}}</h4>
                                                            <div class="comment-date">{{response.formatedDate}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>{{response.content}}</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="comment-box submit-form">
                                <h3 class="reply-title">Post Comment</h3>
                                <div class="comment-form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <textarea name="comment" class="form-control" cols="30" rows="6" placeholder="Type your comments...." [(ngModel)] = "userResponse.content" #content = "ngModel" required minlength="3"></textarea>
                                                </div>
                                                <div *ngIf="content.invalid && content.touched">
                                                    <div *ngIf = "content.errors?.['required']" style="color : red">Content is required</div>
                                                    <div *ngIf = "content.errors?.['minlength']" style="color : red">Content must have at least 3 characters!</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <a class="btn btn-primary" (click)="addComment()">Submit Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
            <!-- Single blog Grid -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="pg-side-groups">
                    
                    <div class="pg-side-block">
                        <div class="pg-side-block-head">
                            <div class="pg-side-left">
                                <div class="pg-side-thumb"><img src="assets/img/team-1.jpg" class="img-fluid circle" alt=""></div>
                            </div>
                            <div class="pg-side-right">
                                <div class="pg-side-right-caption">
                                    <h4>Ht. Mickle Hussy</h4>
                                    <span><i class="fa-solid fa-location-dot me-2"></i>Liverpool, UK</span>
                                </div>
                            </div>
                        </div>
                        <div class="pg-side-block-body">
                            <div class="pg-side-block-info">
                                <div class="vl-elfo-group">
                                    <div class="vl-elfo-icon"><i class="fa-solid fa-phone-volume"></i></div>
                                    <div class="vl-elfo-caption"><h6>Call Us</h6><p>+91 856 457 5243</p></div>
                                </div>
                                <div class="vl-elfo-group">
                                    <div class="vl-elfo-icon"><i class="fa-regular fa-envelope"></i></div>
                                    <div class="vl-elfo-caption"><h6>Drop A Mail</h6><p>paythemezhub@gmail.com</p></div>
                                </div>
                                <div class="vl-elfo-group">
                                    <div class="vl-elfo-icon"><i class="fa-solid fa-globe"></i></div>
                                    <div class="vl-elfo-caption"><h6>Website</h6><p>Https://themezhub.com</p></div>
                                </div>
                            </div>
                            <div class="pg-side-block-buttons">
                                <div class="single-button"><a data-bs-toggle="modal" data-bs-target="#message" class="btn font--medium btn-theme full-width"><i class="fa-solid fa-comments me-2"></i>Send A Message</a></div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            
        </div>
        <!-- /row -->					
        
    </div>
            
</section>