<div class="page-title" style="background:#017efa url(assets/img/page-title.png) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">


            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ All Property ================================== -->
<section class="over-top micler gray-simple">

    <div class="container">

        <div class="row">

            <!-- property Sidebar -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="page-sidebar p-0">
                    <a class="filter_links" data-bs-toggle="collapse" href="#fltbox" role="button" aria-expanded="false"
                        aria-controls="fltbox">Open Advance Filter<i class="fa fa-sliders-h ml-2"></i></a>
                    <div class="collapse" id="fltbox">
                        <!-- Find New Property -->
                        <div class="sidebar-widgets p-4">
                            <form #form="ngForm">
                                <div class="form-group">
                                    <h6>Operation Types</h6>
                                    <select #opType (Change)="onSelected()" class="form-control">
                                        <option *ngFor="let op of operationType" value="{{op}}">{{op}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h6>Property Types</h6>
                                    <select #ids (Change)="onSelected()" class="select-normal">
                                        <option *ngFor="let prop of propertyType" value="{{prop}}">{{prop}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h6>Choose Governorate</h6>
                                    <select #gov (Change)="onSelected()" class="select-normal">
                                        <option *ngFor="let gover of govs" value="{{gover}}">{{gover}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h6>Choose city</h6>
                                    <select #cit (Change)="onSelected()" class="select-normal">
                                        <option *ngFor="let ct of cities" value="{{ct}}">{{ct}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h6>Min Bedrooms</h6>
                                    <select #nbed (Change)="onSelected()" class="select-normal">
                                        <option *ngFor="let nb of nbedRooms" value="{{nb}}">{{nb}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h6>Min Bathrooms</h6>
                                    <select #nba (Change)="onSelected()" class="select-normal">
                                        <option *ngFor="let nbt of nbathrooms" value="{{nbt}}">{{nbt}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h6>Built Year</h6>
                                    <select #built (Change)="onSelected()" class="select-normal">
                                        <option *ngFor="let by of builtYear" value="{{by}}">{{by}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <h6>Floor Number</h6>
                                    <select #fnumb (Change)="onSelected()" class="select-normal">
                                        <option *ngFor="let fn of floorNumber" value="{{fn}}">{{fn}}</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="simple-input">
                                                <input type="text" class="form-control" placeholder="Min Area"
                                                    name="area" [(ngModel)]="annonce.area" #area="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="simple-input">
                                                <input type="text" class="form-control" placeholder="Max Price"
                                                    name="price" [(ngModel)]="annonce.price" #price="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 pt-4">
                                        <h6>Advance Features</h6>
                                        <ul class="row p-0 m-0">
                                            <li class="col-lg-6 col-md-6 p-0">
                                                <div class="form-check form-check-inline">
                                                    <input id="ao-1" class="form-check-input" type="checkbox"
                                                        name="parking" [(ngModel)]="annonce.hasParking"
                                                        #hasParking="ngModel">
                                                    <label for="ao-1" class="form-check-label">Parking</label>
                                                </div>
                                            </li>
                                            <li class="col-lg-6 col-md-6 p-0">
                                                <div class="form-check form-check-inline">
                                                    <input id="ao-2" class="form-check-input" type="checkbox"
                                                        name="garden" [(ngModel)]="annonce.hasGarden"
                                                        #hasGarden="ngModel">
                                                    <label for="ao-2" class="form-check-label">Garden</label>
                                                </div>
                                            </li>
                                            <li class="col-lg-6 col-md-6 p-0">
                                                <div class="form-check form-check-inline">
                                                    <input id="ao-3" class="form-check-input" type="checkbox"
                                                        name="balcony" [(ngModel)]="annonce.hasBalcony"
                                                        #hasBalcony="ngModel">
                                                    <label for="ao-3" class="form-check-label">Balcony</label>
                                                </div>
                                            </li>
                                            <li class="col-lg-6 col-md-6 p-0">
                                                <div class="form-check form-check-inline">
                                                    <input id="ao-4" class="form-check-input" type="checkbox"
                                                        name="pool" [(ngModel)]="annonce.hasPool" #hasPool="ngModel">
                                                    <label for="ao-4" class="form-check-label">Pool</label>
                                                </div>
                                            </li>
                                            <li class="col-lg-6 col-md-6 p-0">
                                                <div class="form-check form-check-inline">
                                                    <input id="ao-5" class="form-check-input" type="checkbox"
                                                        name="security" [(ngModel)]="annonce.hasSecurity"
                                                        #hasSecurity="ngModel">
                                                    <label for="ao-4" class="form-check-label">Security</label>
                                                </div>
                                            </li>
                                            <li class="col-lg-6 col-md-6 p-0">
                                                <div class="form-check form-check-inline">
                                                    <input id="ao-6" class="form-check-input" type="checkbox"
                                                        name="furniture" [(ngModel)]="annonce.isFurnished"
                                                        #isFurnished="ngModel">
                                                    <label for="ao-4" class="form-check-label">Furniture</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 pt-4">
                                        <button class="btn btn-primary rounded full-width font--medium" type="submit"
                                            (click)="search()">Submit Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Sidebar End -->
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12">

                <div class="row justify-content-center mb-5">
                    <div class="col-lg-12 col-md-12">
                        <div class="item-shorting-box">
                            <div class="item-shorting clearfix">
                                <div class="left-column">
                                    <h4 class="m-0"><span>207</span> Results Found of 612</h4>
                                </div>
                            </div>
                            <div class="item-shorting-box-right">
                                <div class="shorting-by">
                                    <form #form="ngForm" >
                                        <select #sort (ngModelChange)="search()" >
                                            <option *ngFor="let st of sortBy" value="{{st}}">{{st}}</option>
                                        </select>
                                    </form>
                                </div>
                                <ul class="shorting-list">
                                    <li><a  (click)="search()" class="active"><i
                                                class="fas fa-table-cells-large"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start All List -->
                <div class="row justify-content-start gx-3 gy-4">


                    <!-- Single Property -->
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let annonce of annonces">
                        <div class="veshm-list-wraps">
                            <div class="veshm-type" [ngClass]="{'fr-sale': annonce.operation === 'SALE'}"><span>For
                                    {{annonce.operation}}</span></div>

                            <div class="veshm-list-thumb">
                                <button type="button" class="compare-btn">View Details</button>
                                <div class="veshm-list-img-slide">
                                    <div class="veshm-list-click">
                                        <div><a href="single-property-1.html"><img src="assets/img/prt-1.png"
                                                    class="img-fluid mx-auto" alt=""></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="veshm-list-block">
                                <div class="veshm-tags trending"><span><i class="fa-solid fa-star"></i>New</span></div>
                                <div class="veshm-list-head">
                                    <div class="veshm-list-head-caption">
                                        <div class="rlhc-price">
                                            <h4 class="rlhc-price-name theme-cl">{{annonce.price}}DT<span
                                                    *ngIf="annonce.operation ==='RENT'" class="monthly">/Months</span>
                                            </h4>
                                        </div>
                                        <div class="listing-short-detail-flex">
                                            <h5 class="rlhc-title-name verified"><a href="single-property-1.html"
                                                    class="prt-link-detail">{{annonce.title}}</a></h5>
                                            <div class="rlhc-prt-location"><img src="assets/img/pin.svg" width="16"
                                                    class="me-1"
                                                    alt="">&nbsp;{{annonce.governorate.name}},{{annonce.city.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="veshm-list-head-flex">
                                        <button class="btn btn-like" type="button"><i
                                                class="fa-sharp fa-solid fa-map-location-dot"
                                                [routerLink]="['/map', annonce.longitude, annonce.latitude]"></i></button>
                                    </div>
                                </div>

                                <div class="veshm-list-footer">
                                    <div class="veshm-list-circls">
                                        <ul>
                                            <li><span class="bed-inf"><i
                                                        class="fa-solid fa-bed"></i></span>{{annonce.numberOfBedrooms}}
                                                Bed</li>
                                            <li><span class="bath-inf"><i
                                                        class="fa-solid fa-bath"></i></span>{{annonce.numberOfBathrooms}}
                                                Ba</li>
                                            <li><span class="area-inf"><i
                                                        class="fa-solid fa-vector-square"></i></span>{{annonce.area}}
                                                Sft</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Single Property -->


                </div>

                <!-- Pagination -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="JavaScript:Void(0);" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="JavaScript:Void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="JavaScript:Void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="JavaScript:Void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="JavaScript:Void(0);">4</a></li>
                                <li class="page-item"><a class="page-link" href="JavaScript:Void(0);">5</a></li>
                                <li class="page-item"><a class="page-link" href="JavaScript:Void(0);">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="JavaScript:Void(0);" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- ============================ All Property ================================== -->
