<div class="all-comments">
    <h3 class="comments-title">05 Comments</h3>
    <div class="comment-list">
        <ul>
            <li class="single-comment">
                <article>
                    <div class="comment-author">
                        <img src="assets/img/user-1.png" class="img-fluid circle" alt="">
                    </div>
                    <div class="comment-details">
                        <div class="comment-meta">
                            <div class="comment-left-meta">
                                <h4 class="author-name">Rosalina Kelian <span class="selected"><i class="fas fa-bookmark"></i></span></h4>
                                <div class="comment-date">19th May 2018</div>
                            </div>
                            <div class="comment-reply">
                                <a href="#" class="reply"><span class="icona"><i class="ti-back-left"></i></span> Reply</a>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
                                perspiciatis unde omnis iste natus error.</p>
                        </div>
                    </div>
                </article>
              
            </li>
           
        </ul>
    </div>
</div>